body {
  margin: 0;
  text-align: justify;
}

h1 {
  text-align: center;
  color: #1565c0;
}

h2 {
  text-align: center;
  color: #1565c0;
}

.all {
}

.all content {
}

.all cth {
}

.all p {
}
